<?xml version="1.0" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
        colors="true"
        verbose="false"
        bootstrap="src/tests/config/bootstrap.php"
>
    <testsuites>
        <testsuite name="units">
            <directory>src/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="DB_DNS" value="mysql:dbname=myguestbook;host=172.17.0.1" />
        <var name="DB_HOST" value="172.17.0.1" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="teste10" />
        <var name="DB_DBNAME" value="ligamagic_principal" />
        <var name="DB_DBNAME_TEST" value="myguestbook" />
        <var name="DB_PATH" value="src/tests/config/scheme.sql" />
        <var name="EXEC_BOOTSTRAP" value="false" />
    </php>
</phpunit>